@import '/logo.css';
@import '/list.css';
@import '/menu.css';

.sidebar{
    background: var(--gris60);
    display: flex;
    flex-direction: column;
    gap: 1.5rem ;
    padding-block-end: 1.5rem;
    padding-block-start: 1.5rem;

}

.elipsis >*{
    overflow: hidden;
}

.elipsis{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
